html {
  background-color: #0c1027;
  font-family: sans-serif;
  color: white;
  /* for scroll...................................................... */
  position: fixed;
}

/* Header------------------------------------------------ */
.head-container {
  height: 12vh;
  width: auto;
  display: flex;
  display: inline-block;
  /* background-color: green; */
  /* margin-bottom: 3vh; */

  background-color: #0c1027;
  /* margin-top: -1.5vh; */
  top: 0px;
}

#block {
  display: inline-block;
}

.size-adjust {
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-block;
  display: flex;
  color: white;
}

.head-left {
  /* height: 10vh; */
  width: 40vw;
  /* background-color: red; */
}

.icon {
  height: 10vh;
  width: 10vw;
}

.icon img {
  max-width: 10vh;
  max-height: 10vw;
  border-radius: 50%;
  margin-left: 50%;
}

.name {
  font-size: 4vh;
  height: 10vh;
  width: 8vw;
}

.fab {
  background-color: transparent;
  border: none transparent;
  font-size: 3vh;
  color: white;
  cursor: pointer;
  margin-left: 4vw;
}

.right {
  height: 12vh;
  width: 57vw;
  /* background-color: cyan; */
}

.head-right {
  height: 4vh;
  width: 30vw;
  margin-top: 5vh;
  margin-left: 5vw;
  background-color: #12193e;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
}

.search-button {
  background-color: transparent;
  /* color: white; */
  margin-top: 0.5vh;
  margin-left: 0.5vw;
  border: none;
}

.search {
  /* height: 3.vh; */
  width: 25.5vw;
  margin-left: -0.1vw;
}

.microphone img {
  /* height: 18px; */
  width: 20px;
  cursor: pointer;
  margin-left: 28vw;
  margin-top: -3vh;
}

.notification img {
  height: 18px;
  width: 18px;
  margin-left: 3vw;
  cursor: pointer;
}

.my-profile {
  margin-top: -9vh;
  margin-left: 43vw;
  cursor: pointer;
}